# API
requests==2.32.5

# GPS
plyer==2.1.0

# Core dependencies
kivy>=2.3.1

# Code Quality
ruff==0.1.8
coverage==7.3.2

#for school pcs
#kivy
#https://github.com/kivymd/KivyMD/archive/master.zip
#materialyoucolor
#exceptiongroup
#asyncgui
#asynckivy
#faker

# Kivy Issues? Try:
#py -3.10 -m pip install -r requirements.txt


