# Core dependencies
kivy==2.3.1

# Code Quality
ruff==0.1.8
coverage==7.3.2

#for school pcs
#https://github.com/kivymd/KivyMD/archive/master.zip
#materialyoucolor
#exceptiongroup
#asyncgui
#asynckivy
#faker





